*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e5f74 !important;
}
#title{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1rem;
}
.container .section{
    width: 30vw;
    height: 35vh ;
}

#section1{
    margin-left: 10%;
    margin-right: 20%;
}

.section .info{
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.section .scores{
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    color: white;
}
.info h3{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background : rgb(41, 40, 40); */
    background: #b300b2;
    height: 60%;
}
.show i{
    font-size: 5rem;
    color: #FFF533;
}

.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 18vh;
    position: relative;
    /* right: 420px; */
    right: 22%;
}
.selection button{
    margin: 0 0.5em;
    padding: 0.6em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background : rgb(41, 40, 40);
    /* font-size: 2.5em; */
    font-size: calc( 13px + 2.5vw);
    color: orange;
    
    
}
#finalResult{
    margin-top: 1rem;
}
.lets_play{
    margin-top: 1rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    font-size: 2rem;
}

@media screen and (max-width:576px) {
  .info h3{
      font-size: 1rem;
  }
}